[submodule "ext/lgbm"]
	path = ext/lgbm
	url = https://github.com/Microsoft/LightGBM.git
[submodule "ext/xgboost"]
	path = ext/xgboost
	url = https://github.com/dmlc/xgboost.git
[submodule "ext/jforests"]
	path = ext/jforests
	url = https://github.com/yasserg/jforests.git
[submodule "ext/quickrank"]
	path = ext/quickrank
	url = https://github.com/hpclab/quickrank.git
[submodule "ext/ranklib"]
	path = ext/ranklib
	url = git@github.com:lgrz/ranklib-mirror.git
